<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>prefix</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Prefix:</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Prefix</string>
		</dict>
	</array>
</dict>
</plist>
